[2022-03-17 01:37] Mizunanari opened #1 "再測定モードの実装"
# 画面構成

正しくは下記

測定/再描画　再測定

# 再測定モードについて

自動検出できなかった小惑星を手動でマーキングするモード

##  手順

小惑星ごとにアップ画像を表示
小惑星のまわり３点の座標を指定（クリック）

(x1, y1) (x2, y2) (x3, y3)

これをもとに四角形を生成する

[2022-03-17 01:54] Mizunanari opened #2 "レポート機能の実装"
- [ ] send_mpcにヘッダー情報追加

ヘッダー情報
* 編集者名（仮：確認の必要あり？）
etc ...

[docs/coias/COIAS の報告メール作成作業手順.md](https://github.com/aizulab/COIAS_program_github/blob/20b18c0fdeeea5522f1810c0526aac5b1e54110e/docs/coias/COIAS%20%E3%81%AE%E5%A0%B1%E5%91%8A%E3%83%A1%E3%83%BC%E3%83%AB%E4%BD%9C%E6%88%90%E4%BD%9C%E6%A5%AD%E6%89%8B%E9%A0%86.md)

backendから送られてきた情報に、フロントエンドから入力された編集者名などをヘッダー情報に追記する。
その後、テキストファイルを生成する。

なお、改行

[2022-03-17 02:25] Mizunanari opened #3 "アプリ画面ヘッダーレイアウトの変更"
![coias画面レイアウト](https://user-images.githubusercontent.com/54758260/158724044-44a87f01-ac52-4c16-b4c2-f89118ae34c9.png)

# 実装

- [x] 改行
- [x] タブバーの名称など更新
- [x] タブボタンに色をつけて選べることが分かりやすくする
- [x] タブで現在選択している画面がわかるようにする

## memo
* マウスオーバーでボタンのハイライト？
* 開いている画面がわかるようにしたい

[2022-03-17 02:48] Mizunanari opened #4 "探索画面のレイアウト変更"
![編集画面](https://user-images.githubusercontent.com/54758260/158726451-cf232708-344f-43b6-a5db-1b7bca3ad2e9.png)

これらを惑星写真と被らないように外に出す

[2022-03-17 02:51] Mizunanari opened #5 "prempedit3.pyに渡す引数を入力可能にする"
prempedit3.pyに渡す引数をフロントアプリから入力可能にする

[2022-03-17 03:03] Mizunanari opened #6 "APIが返却されるまで、ローディング表示"
# 内容

- [x] ファイルアップロード完了時にダイアログを閉じる
- [x] ボタンを押した際、APIが返却されるまでローディング表示
- [x] ローディング中の操作を受け付けない（buttonの[disabled](https://react-bootstrap.netlify.app/components/buttons/#api)など）

# 実装例

* [React-Bootstrap · buttons](https://react-bootstrap.netlify.app/components/buttons/#button-loading-state)
* [React-Bootstrap · spinners](https://react-bootstrap.netlify.app/components/spinners/#spinners)

## 実装場所

[2022-03-17 03:11] Mizunanari opened #7 "全自動処理のプロセスを変更"
# 全自動処理のプログレスバーのようなものを表示

全自動処理がどこまで終了したか、またはどこで処理が止まってしまったかを確認するためのものが欲しいとのこと。
AstsearchRを実行するのではなく、下記を参考にAPIをひとつずつ実行し、フロントアプリに反映する。

AstsearchR

[code]

## 実装例

* [React-Bootstrap · placeholders](https://react-bootstrap.netlify.app/components/placeholder/#placeholders)

[2022-03-17 04:59] Mizunanari opened #8 "生成されたpngから、表示するファイルを選択できるように変更"
- [x] ラジオボタンのトグルなどのUIを追加し、maskとnomaskを選択できるように変更する
- [x] 生成された複数のpngファイルで表示するものを選択する

[2022-03-17 05:02] Mizunanari opened #9 "png画像が全体表示できていない"
探索画面で表示されるpng画像が全体表示できていない
また、枠のｙ座標がずれている表示されている

[2022-03-17 05:04] Mizunanari opened #10 "binningの値を選択できるように変更"
現状はデフォルトのままになっているので、2か4を選択できるようにする。

[2022-03-17 05:07] Mizunanari opened #11 "再生速度を変更できるようにする"
現状、再生速度が0.1より変更できない。
５パターンほど（0.01 ~ 1 sec）を用意し、選択式で変更できるようにする。

[2022-03-17 05:10] Mizunanari opened #12 "探索画面にて「探索終了」を押した際、バグが発生する"
探索画面にて「探索終了」を押した際、惑星IDが+1されたものが表示されてしまう

[2022-03-17 05:14] Mizunanari opened #13 "再生した時に画像がちらつく"

[2022-03-17 05:14] Mizunanari opened #14 "たまに再生するととまらなくなる"

[2022-03-17 05:16] Mizunanari opened #15 "準備モードのボタン配置について"
- [x] 軌道修正←→ビニングマスクを逆に
- [x] 「画像変換」ボタンを削除
- [x] ビニングマスクで「前処理」(preprocess)を実行する

[2022-03-17 05:17] Mizunanari opened #16 "コントラストと明度の限界値を変更"
現在は0 ~ 200で設定されているが、画面が白くなるほどまで上げられるようにしたい

[2022-03-17 05:41] Mizunanari opened #17 "探索画面で惑星の枠をクリックすると天体を追加できるようにする"

[2022-03-18 04:34] #3 closed, assigned to nobody

[2022-03-18 04:34] #10 closed, assigned to nobody

[2022-03-18 06:17] #11 closed, assigned to nobody

[2022-03-18 07:01] #15 closed, assigned to nobody

[2022-03-18 07:28] #16 closed, assigned to nobody

[2022-03-18 08:59] Mizunanari opened #18 "ボタン割り当てが逆"
<img width="1325" alt="スクリーンショット 2022-03-16 16 37 25" src="https://user-images.githubusercontent.com/54758260/158971953-0d0e5832-189a-4a81-bd4e-c32660e2a20f.png">

https://coiashq.slack.com/archives/C034Z0GDEBX/p1647416453447339

[2022-03-23 07:42] #18 closed, assigned to nobody

[2022-03-24 08:40] #6 closed, assigned to daiyokoyama

[2022-03-25 09:01] daiyokoyama commented on #13
画像ロードのタイミング変更で解消

[2022-03-25 09:01] #13 closed, assigned to daiyokoyama

[2022-03-25 09:02] daiyokoyama commented on #9
scroll: hidden から auto に変更し、Alt を押した状態でズームイン・ズームアウトできるよう変更で解消

[2022-03-25 09:02] #9 closed, assigned to daiyokoyama

[2022-03-25 09:03] daiyokoyama commented on #14
おそらくステートの問題で発生？
今は発生しないのでクローズ

[2022-03-25 09:03] #14 closed, assigned to daiyokoyama

[2022-03-25 09:04] daiyokoyama commented on #12
1 固定に変更で解消

[2022-03-25 09:04] #12 closed, assigned to daiyokoyama

[2022-03-25 09:06] daiyokoyama commented on #17
下記 Push で実装
45b865259f4f9f0f0fb2a49fb1b3ee721fb3a2f7

[2022-03-25 09:06] #17 closed, assigned to daiyokoyama

[2022-03-28 05:33] #2 closed, assigned to nobody

[2022-03-28 06:05] Mizunanari opened #19 "開発用パッケージをdevDependenciesに移動"

[2022-03-28 07:15] daiyokoyama commented on #7
902053f3a8f3ad18ce89a795354678aada3405ff

[2022-03-28 07:15] #7 closed, assigned to nobody

[2022-03-29 00:05] Mizunanari commented on #1
https://github.com/aizulab/COIAS_program_github/blob/main/docs/About_the_coias_program/coias/COIAS%20%E3%81%AE%E4%BD%BF%E3%81%84%E6%96%B9(%E6%89%8B%E5%8B%95%E6%B8%AC%E5%AE%9A%E4%BB%98%E3%81%8D%E7%B7%A8).md

浦川様より

[code]

[2022-03-29 02:01] #4 closed, assigned to nobody

[2022-03-29 03:47] daiyokoyama commented on #8
b3fb2479a79fc8246a3fb720b53667dc6d86689e

[2022-03-29 03:47] #8 closed, assigned to daiyokoyama

[2022-03-29 06:54] Mizunanari opened #24 "探索モードで画面がぶるぶる"
症状
xy座標がテキストとして選択されるとき惑星を選択するとぶるぶるする

[2022-03-30 08:59] Mizunanari commented on #24
bb8e58e08775197f14b739d100afe73628e39293

[2022-03-30 08:59] #24 closed, assigned to nobody

[2022-03-30 09:00] #19 closed, assigned to nobody

[2022-03-31 02:35] Mizunanari opened #25 "終了した処理は色が変わると嬉しい。どこまで終了したかわからなくなる。"
https://coiashq.slack.com/archives/C034Z0GDEBX/p1648652573604459

[2022-03-31 02:35] Mizunanari opened #26 "何枚目の画像をみているかわかる機能"
https://coiashq.slack.com/archives/C034Z0GDEBX/p1648652573604459

[2022-03-31 02:36] Mizunanari opened #27 "画像のどのあたりを見ているか迷子になるので、スクロールバーがあるとなお良いです。"
https://coiashq.slack.com/archives/C034Z0GDEBX/p1648652573604459

usuki 追記

- [ ] スクロールバーの常時表示

[2022-03-31 02:37] Mizunanari commented on #5
https://coiashq.slack.com/archives/C034Z0GDEBX/p1648652573604459

[2022-03-31 02:38] Mizunanari opened #28 "＊新天体（Hで始まる番号）と仮符号天体の報告行は最初の5文字分のブランクが必要です。"
https://coiashq.slack.com/archives/C034Z0GDEBX/p1648652573604459

[2022-03-31 02:39] Mizunanari opened #29 "全自動処理の処理フローについて"
https://coiashq.slack.com/archives/C034Z0GDEBX/p1648668035241469?thread_ts=1648652573.604459&cid=C034Z0GDEBX

[2022-03-31 06:31] AnbaiAnbai commented on #26
aa0fb7937e4e12eb8e82980bec2b422e0d1fb5d2　にて実装

[2022-03-31 06:31] #26 closed, assigned to nobody

[2022-04-01 07:26] #27 closed, assigned to nobody

[2022-04-01 08:03] AnbaiAnbai opened #30 "それぞれのボタンはどのスクリプトに対応しているのでしょうか?"
https://github.com/aizulab/coias-front-app/blob/e36a77a78234e8588e3ac6936eda3a936ce64fea/src/page/ExplorePrepare.jsx#L21-L30

@COIAS-program
これがそれぞれのボタンに割り振られているスクリプトになります。
このqueryが、localhost:8000/の後ろにボタンが押されるたびに連結しリクエストされ、そのレスポンスとしてスクリプトの処理結果が返却されます。（{ id: 2, name: '事前処理', query: 'preprocess' }の場合、事前処理が押されると、localhost:8000/preprocessにリクエストを送信します）

localhost:8000でのスクリプトは、https://github.com/aizulab

[2022-04-04 00:23] AnbaiAnbai opened #31 "パラパラ漫画の速度で0.5秒もあるとありがたい、普通の人には0.1秒でも速いかも"

[2022-04-04 00:24] AnbaiAnbai opened #32 "グラブとズームがうまくいっていないかも"
ブラウザはSafariで実行しているのですが、添付のスクショのようにグラブやズームをすると、初期の描画領域だけに画像があり移動したりズームしたりして新たに現れた領域は灰色のままになっています。
ブラウザをChromeにしたら良いかもしれません。

[2022-04-04 00:25] AnbaiAnbai opened #33 "ヘルプモーダルについて"
手の平を押すとグラブして画像が動かせることと、矢印を押すと視認した小惑星を選ぶことができることも書いておくと良いと思います(両方とも説明があった方が良いかと思いますので)。初見でははてなマークにヘルプが書いてあることも気がつかないかもしれませんが、そこはマニュアルに書いておくしかないかなと思いました。

[2022-04-04 00:26] AnbaiAnbai opened #34 "画像の変更をしても枠の色が変わらないようにお願いします"
1度天体を選択して枠を赤くしても、右上の歯車マークから画像を無くしたりマスク有り・無しを変更すると枠が黒色に戻ってしまいます。その際、右のチェックボックスは入ったままです。画像の変更をしても枠の色が変わらないようにお願いします。

[2022-04-04 00:27] AnbaiAnbai opened #35 "天体の四角の上に表示されている赤い番号が絶妙に見づらい"
あまり大きくしすぎると被りすぎて逆に見づらくなってしまうのですが、もう数ポイントだけ大きくてもいい気がします。あと赤一色の番号だと見づらいので、赤字に黒枠などの装飾は可能でしょうか?少し見やすくなるかと思います。

[2022-04-04 01:18] #31 closed, assigned to nobody

[2022-04-04 02:34] #35 closed, assigned to nobody

[2022-04-04 02:57] #33 closed, assigned to nobody

[2022-04-04 04:44] AnbaiAnbai opened #36 "二回目以降の探索準備をした時のバグ"
探索準備モードを実行した後、探索/再描画を実行し、そのまま探索準備モードに戻って別の画像を選んで解析を行い、もう一度探索/再描画モードを実行したところ、枠と画像が合っていませんでした。
見た感じ、枠の位置は2回目の解析で得られた位置になっていましたが、画像は1回目の解析で得られたものがそのまま使用されているようでした。(作業ディレクトリの中身を直接確認できないので間違っているかもですが)
データの混合を避けるため、画像を読み込む際は直前に作業ディレクトリ(fits画像や中間ファイルが置かれるディレクトリ)は毎回空にした方が良いかと思います。

[2022-04-04 05:22] #34 closed, assigned to nobody

[2022-04-04 07:05] Mizunanari commented on #32
探索モードの惑星選択画面は実装途中のため、今後も変更されます。
変更後に再度確認をお願いできますでしょうか？

[2022-04-04 08:52] Mizunanari commented on #30
sugiura keisuke

現状では「ビニングマスク」ボタンと「光源検出」ボタンが分かれており、「光源検出」ボタンが後に来ていますが、
実は「ビニングマスク」ボタンで呼び出されているstartsearch2Rスクリプトで光源検出が同時に行われています。
個人的にはビニングマスクと光源検出を分ける必要もないと思いますので、
ビニングマスクボタンの名称を「ビニングマスク・光源検出」に変更し、光源検出ボタンを消してしまうのが一番簡単なお手当かと思いますが、
いかがでしょうか?

Seitaro Urakawa

コメントの通り光源検出はstartsearch2Rの中で行われているので「ビニングマスク・光源検出」に変更。光源検出ボタンは削除で良いと思います。

[2022-04-04 08:54] urakawa-seitaro commented on #30
はい、メールの通り。その光源検出ボタン削除でお願いします。

[2022-04-05 09:26] #25 closed, assigned to nobody

[2022-04-05 11:45] COIAS-program commented on #36
仕様変更をされたようで、新しいfitsファイルをアップロードするたびに新しい整数番ディレクトリを作成してその中で解析を行うようになっているようですね。
また画像も最新の整数番ディレクトリ内のpngファイルをtmp_imagesにコピーして使用しているようですので、これも最新のデータと整合的になっていると思います。

ただブラウザのキャッシュに画像が残っていてそれを使用してしまう可能性はある(素人なので否定できない)ので注意はしておいた方がいいかもしれません。

4月7日追記
先ほども探索準備->探索/再描画と進んだのち、コンテナ内のターミナルでtmp_filesとtmp_imagesの中身を全てrmで削除したのちに、別のデータを探索準備->探索/再描画と進んだら前のデータの画像が表示されているようです。
ブラウザのURL欄を叩いて再表示させたら正しい画像が表示されました。
どうもブラウザを

[2022-04-06 08:41] Mizunanari commented on #1
@masaaki-y @AnbaiAnbai

- [x] COIAS.py にて手動で読み込みたい小惑星上でスペースを押し座標を記録

  -> memo2.txtに書き込み
  https://github.com/coias/coias-back-app/blob/main/COIAS.py#L212-L284

- [ ] astsearch_manual(astsearch1Q5.py) でmemo2.textを読み込み

長方形の座標を入力させる
  -> 結果をlistb3.txtに書き込み
  https://github.com/coias/coias-back-app/blob/main/astsearch1Q5.py

- [ ] astsearch_manual(その他、スクリプト)でlistb3.txtから読み込み成形など

  ->結果をmemo.txtに出力

[2022-04-07 02:09] Mizunanari commented on #30
#29 に移行

[2022-04-07 02:09] #30 closed, assigned to nobody

[2022-04-07 02:11] Mizunanari commented on #29
Sugiura Keisuke

具体的には、coias-front-app/ExplorePrepare.jsxの165-169行目を消せばいいのだと思います。
素人ゆえ間違っている可能性があるのでご判断をお願いしたいですが、ご対応お願いいたします。

[2022-04-07 02:24] Mizunanari opened #38 "ファイルの入力制御"
Sugiura Keisuke

前提: fitsファイル名の書式
warp-HSC-[1文字か2文字のバンド名]-[領域を示す番号]-[サブ領域を示す番号1],[サブ領域を示す番号2]-[時刻].fits
例: warp-HSC-R2-0-1,4-122590.fits
- ファイルの数が5個以外の場合 (今後5個以外も対応する可能性はありますが、現状は5個にしか対応していないので、5個で固定して良いと思います)
- ファイルの拡張子が全て.fitsではない場合
- 5個のファイルの観測領域が全て同じではない場合。この判断はファイル名の (例で言う所の) -0-1,4- が同じであれば同じ領域となるので、これが異なるファイルが混じっていたらアウト
上記3点の場合はエラーを出して再入力させるようにしていただけますと幸いです。

[2022-04-07 11:02] COIAS-program commented on #32
すみません、確認が遅くなりました。
再測定モード実装後とのこと、承知いたしました。

[2022-04-07 14:38] COIAS-program commented on #38
4月7日追記
書式について正しくは
warp-HSC-[1文字か2文字のバンド名]-[領域を示す番号(1-4桁くらい)]-[サブ領域を示す番号1],[サブ領域を示す番号2]-[時刻].fits
2つ目の[]の領域を示す番号は1桁とは限らず、少なくとも4桁の例もありました。

[2022-04-07 14:40] COIAS-program commented on #29
4月7日追記
ディレクトリ構造やファイルの中身が変わっているので、杉浦的怪しい箇所は、

に変わっています。

[2022-04-08 01:31] Mizunanari opened #39 "チェックボックスと枠のクリックが同期しない場合がある"
Sugiura Keisuke

右のチェックボックスでチェックできないようになっている天体でも、その天体の四角をクリックすると色が変わり右のチェックボックスにもチェックが入ってしまうようになっているので、整合的な反応になるようにご対応をお願い致します。(こちらは確実です、修正をお願い致します)

[2022-04-08 01:32] Mizunanari commented on #29
@COIAS-program
追記ありがとうございます。
確認いたします。

[2022-04-08 01:39] Mizunanari commented on #28
Sugiura Keisuke

一方で番号あり天体(=numbered_disp.txtに記載の天体)はブランクは必要ありません。
正しいフォーマットのデータ部分をお送りいたします。
この問題、内部で生成されているsend_mpc.txtの段階ではブランクがあるんですが、レポートモードでブラウザに表示させる時とダウンロードした後のファイルからはブランクがなくなっていますね。
ブラウザに表示させる段階でブランクが削除されている可能性が高いと思われます。

<details>
<summary>mapc_reportOeg.txt</summary>

[code]
</details>

https://coiashq.slack.com/archives/C034Z0GDEBX/p1649330841349409

[2022-04-08 01:47] Mizunanari opened #40 "再描画時の既知天体の表示について"
Sugiura Keisuke

添付ファイルが一例ですが、1探索モード.jpgでは四角が表示されていない真ん中よりの天体が、2再描画モード.jpgでは四角が表示されています。

![1探索モード](https://user-images.githubusercontent.com/54758260/162346906-b90657a7-b253-4722-ac35-808b35b20faf.jpg)

![2再描画モード](https://user-images.githubusercontent.com/54758260/162346889-39e80176-cdbb-4747-83f8-5dc15669f399.jpg)

[2022-04-08 01:53] Mizunanari commented on #40
@urakawa-seitaro @COIAS-program

動作として正しいのはどちらでしょうか？

1. 既知天体の枠は常に表示される
2. 既知天体の枠は再描画前に表示され、再描画後に消える

[2022-04-08 02:03] COIAS-program commented on #40
@Mizunanari @urakawa-seitaro
既知天体(=numbered_disp.txtに記載の確定番号天体とkarihugo_disp.txtに記載の仮符号天体)の枠は、常に(=探索モードでも再描画モードでも再測定モードでも)黒色で表示されるが、ただし選択(=四角をクリックしても右側のチェックボックスをクリックしても)は不可能、が正しい実装だと思います。

[2022-04-08 02:11] Mizunanari commented on #40
@COIAS-program
承知しました。ご回答ありがとうございます。

[2022-04-08 06:09] AnbaiAnbai opened #41 "探索/再描画->探索準備->探索/再描画の時、画像の描画が行われない"
https://github.com/coias/coias-front-app/blob/0222470e9938d712d68cf52a8610c66b2a6d82b2/src/component/PanZoom.jsx#L130

に何かを追加するorそもそものaxiosではなく、useSWR等に変える

[2022-04-11 00:36] AnbaiAnbai commented on #39
@COIAS-program
[3a92a31](https://github.com/coias/coias-front-app/commit/3a92a314843f3010989c3ea3d5a32820261a2f2c)
によって修正させて頂きました。ご確認をお願い致します。

[2022-04-11 00:37] Mizunanari commented on #40
@COIAS-program
以前、表示する小惑星をdisp.txtからunknown_disp.txtに変更いたしました。
unknown_disp.txtに出力される枠が未知の小惑星でこちらを表示するとのことだっと思います。
既知天体を表示するとした場合、既知天体のみ座標などが必要になるのですがファイルに書き出しなどをおこなっていますでしょうか？
確認お願いします。

[2022-04-11 00:45] AnbaiAnbai commented on #29
@COIAS-program
コメントありがとうございました。
[d72b50e](https://github.com/coias/coias-front-app/commit/d72b50e05343ab45ab3e1e6d68acc5fa0428b842)
にて修正させて頂きました。お手数ですがお時間のある時に確認、確認後問題なければ各issueのcloseをお願い致します。

[2022-04-11 01:10] AnbaiAnbai commented on #28
@COIAS-program
[6e41fb9](https://github.com/coias/coias-front-app/commit/6e41fb9e9bd1bc7e090e397326bd1374cf40e967)
にて修正いたしました。確認のほどよろしくお願い致します。

[2022-04-11 01:14] COIAS-program commented on #40
@Mizunanari
ご連絡ありがとうございます。
既知天体のうち確定番号ありの天体の座標はnumbered_disp.txtに、仮符号番号の天体の座標はkarifugo_disp.txtに書き出してあります。
両方ともに記載してある座標に枠の表示が必要です(ただし常に黒枠、クリックすることもチェックボックスをチェックすることもできず赤枠にはならない)。
ご確認よろしくお願い致します。

4月11日現在
なお、現在バグによってnumbered_disp.txtが空になる不具合が起きています。
バックエンド側で応急処置はしたのですがデバッグがまだですので、coiasプロジェクトへの反映はしばらくお待ちください。
numbered_disp.txtの一例をここに貼っておきます。
[numbered_disp.txt](https://github.com/coias/coias-front-

[2022-04-11 03:19] COIAS-program commented on #29
光源検出ボタンが消えていること、及び全自動処理のフローから余計な後の光源検出がなくなっていることを確認いたしました。

ただ、全自動処理を行うと添付の画面のように自動検出(くるくる)のまま止まってしまい操作できなくなってしまいます。
最後にできるはずの all.txt が出力されているのでバックのスクリプト的には最後まで行っていると思うので、全自動処理を押した時のフロントの最後の処理の問題で自動検出(くるくる)が止まらなくなっていると思われます。
なお、自動検出ボタンを単体で押した時には問題なく終わるので、全自動処理ボタンの最終処理の問題だと思われます。
よろしくお願い致します。
<img width="1388" alt="スクリーンショット 2022-04-11 12 13 42" src="https://user-images.githubusercontent.com/86390

[2022-04-11 03:34] COIAS-program commented on #39
現状確認できる範囲において、既知天体はクリックもチェックもできないこと、未知天体はクリックチェック赤枠が整合的になっていることを確認いたしました。
ただしnumbered_disp.txtに記載の確定番号付き既知天体はクリックできるようになってしまっていますが、同様の内容がissue #40 でオープンのままになっているので、そちらでご対応いただければと思います。

こちらのissueはクローズで良いと思います。
ただバックエンド側にバグがあり探索モードにおいてunknown_disp.txtしか表示していない動作になっているため、細かいことはまた再度確認させていただきます。

[2022-04-11 03:34] #39 closed, assigned to nobody

[2022-04-11 03:40] COIAS-program commented on #28
ブラウザとダウンロードしたsend_mpc.txtにおいて、未知天体と仮符号天体の頭に5文字のブランクが入っていることを確認いたしました。
こちらのissueもクローズで良いと思います。

ただバックのバグで確定番号あり天体の書式については確認できていないので、こちらも後ほど確認してもし問題がありそうなら改めてご連絡させていただきます。

[2022-04-11 03:40] #28 closed, assigned to nobody

[2022-04-11 08:45] Mizunanari commented on #1
@AnbaiAnbai

# 再測定モード機能実装案

## モードの名称について

再測定モード  ->  手動測定モード

## 各フェイズについて

### フェイズ１

大まかな星の位置を写真から選択する。写真は５枚それぞれから星の中心を選択する。
操作としては、`星の数 * 写真の枚数`のクリックが必要になる。

### フェイズ２

フェイズ１で選択した星をズームで表示し、より正確な星の位置を３点で囲うように選択する。
操作としては、`星の数 * 5(写真の枚数) * 3(囲う座標)`のクリックが必要になる。

## 「追加」ボタンを押した時の動作

1. アコーディオンを全て閉じる
2. ツールボックスの項目を一つ増やす
3. 2.で増やしたアコーディオンを開く
4. 一つ前の数字+1をIDに割り振る
5. 写真の１枚目を表示
6. 「手動で測定したい小惑星の中心をクリックし

[2022-04-14 04:30] AnbaiAnbai commented on #29
@COIAS-program
確認ありがとうございます。
[dbe14f8](https://github.com/coias/coias-front-app/commit/dbe14f8e68f7d8059b8d85ef3f7289b21245530f)
にて修正しました。確認お願い致します。

[2022-04-14 04:32] AnbaiAnbai commented on #41
[533206a](https://github.com/coias/coias-front-app/commit/533206a27a58c13a184f1bf2a122a4e68f4a8b32)
にて修正

[2022-04-14 06:59] COIAS-program commented on #29
ご対応いただきありがとうございました。
画面も無事に切り替わりました。
issueをクローズさせていただきます。

[2022-04-14 06:59] #29 closed, assigned to nobody

[2022-04-14 10:08] COIAS-program opened #42 "再描画モードでの選択の仕様について"
優先度は非常に低いのでそのうちご対応いただければ大丈夫です。

再描画モード(添付写真)にて、全ての天体を選択できないようにしていただきたいです。(枠をクリックしても右側のチェックボックスをクリックしても、選択できない。枠も赤くならないしチェックボックスにチェックも入らない)
このモードではユーザーは目視で選択結果が正しいか確認し、気に入らなければ「やり直す」をクリックしてやり直す、気に入れば「探索終了」をクリックして終了するか判断するだけで、特段の処理は必要なさそうです。
4月13日に浦川さんと相談して決めた仕様ですので、忘れないようにメモ書き程度にここに書いておきます。
<img width="1393" alt="スクリーンショット 2022-04-14 19 05 01" src="https://user-images.githubusercontent.com/86390904

[2022-04-14 10:20] COIAS-program commented on #41
すみません、一度クローズしていただいたこちらのissueですが、私の環境ではやはりうまくいっていないので再度オープンさせていただきます。
ちなみに、探索準備 -> 探索モード -> 再描画モードまで進んだ後に、改めて探索準備モードに戻り違う画像をアップロードし、再度探索準備 -> 探索モードと進むと、枠の位置と画像の両方ともが1度目の再描画モードと同じものが表示されます。(つまり、2度目の探索準備モードの枠が全く反映されていない)
この場合も、上のURL欄を叩いてリフレッシュすると正しく表示されます。

環境やブラウザに依存しそうなバグなので厄介そうですが、よろしくお願い致します。

[2022-04-14 11:23] urakawa-seitaro commented on #40
一旦古いバージョンは削除して、4月14日版で再インストールして実行してみました（進捗に驚きました。すごく使いやすくなっている。）
ここでのissue.探索モードで「確定番号」「仮符号番号」の天体が表示されない。
再描画だと表示される。
という状況に変化がなかったのですが、いかがでしょう。確認いただければと思います。

[2022-04-14 11:44] COIAS-program commented on #40
@urakawa-seitaro
こちらのissueの状態はまだオープンのままですので、ご対応いただいている途中だと思います。
ちなみに、直上のClosedは、僕がクローズされたissueからmentionをしたことを示しているだけで、このissueがクローズされた訳ではありません。

[2022-04-14 11:45] urakawa-seitaro opened #43 "探索終了ボタンを押すと画面が真っ白になり操作を受け付けなくなる。"
探索終了ボタンを押すと一瞬レポート作成画面（OBSやMEAを記入する画面）が表示されたのち、画面が真っ白になりました。

[2022-04-14 12:01] urakawa-seitaro commented on #43
解像度落としてますがこんな感じです。
https://user-images.githubusercontent.com/65066368/163386489-8f240224-6ad4-4b27-91e7-a3428bb9bc5b.mov

[2022-04-15 02:09] AnbaiAnbai commented on #38
@COIAS-program
[aee2046](https://github.com/coias/coias-front-app/commit/aee2046da7ebba3e0385ed2505a2d42fe3604bfd)
にて、エラーを左下のポップアップで出すように修正致しました。
エラーの種類は、以下の三つを用意しました。

  1. ファイル名の形式が違います
  2. 観測領域が異なります
  3. 5枚の画像を入力してください

ご確認お願い致します。

[2022-04-15 02:15] AnbaiAnbai commented on #41
@COIAS-program
恐れ入ります。紛らわしくて申し訳ないのですが、こちらのissueは、自分が新たに見つけたバグでして、

こちらのバグに関してましては、issue #36 にて修正させて頂きます。
よろしくお願い致します。

[2022-04-15 02:39] AnbaiAnbai commented on #43
@urakawa-seitaro
ご確認ありがとうございます。
私のchrome環境において、こちらのバグが発生しなかったため、お手数ですがエラーログを確認させて頂きたいです。

ログの確認方法は、chrome環境での手順だと、真っ白になったタイミングでブラウザ上にて右クリック→検証をクリック→コンソールログ表示となります。こちらをスクリーンショットで送っていただけますでしょうか。

<img width="1436" alt="inspect" src="https://user-images.githubusercontent.com/97570265/163509356-cacef4b9-5227-4fda-938e-95a80a38d353.png">

[2022-04-15 03:07] AnbaiAnbai commented on #42
@COIAS-program @urakawa-seitaro
https://github.com/coias/coias-front-app/commit/a6e3ad1d671b271b58aaf506323fe1dbd830b4ea
にて修正させて頂きました。
ご確認をお願い致します。

[2022-04-15 08:18] AnbaiAnbai commented on #36
@COIAS-program
たくさんのご意見ありがとうございます。

こちらのissueについて、cacheを残らないようにすることで、[efb08cb](https://github.com/coias/coias-front-app/commit/efb08cb5d576c4c6082defa9df152c8c123fbc77)にて修正させて頂きました。
現在chrome,safari,firefoxにて正常な動作を確認いたしました。

ご確認と、問題がなければ、 #41 とともにcloseをよろしくお願い致します。

[2022-04-15 09:07] urakawa-seitaro commented on #43
開発環境がうまく動かなくて、一般ユーザーな環境(VScodeなし)で実施しました。今一度開発環境構築して実行してみます。

[2022-04-15 23:07] COIAS-program commented on #38
ご対応いただきありがとうございます。
完璧だと思います。

[2022-04-15 23:07] #38 closed, assigned to nobody

[2022-04-15 23:40] COIAS-program commented on #42
確認致しました。
ご対応いただきありがとうございます。

[2022-04-15 23:40] #42 closed, assigned to nobody

[2022-04-15 23:48] COIAS-program commented on #41
別のバグだったのですね、、、
失礼いたしました。
#36 も解決していることを確認致しましたので、close致します。

[2022-04-15 23:48] #41 closed, assigned to nobody

[2022-04-15 23:50] COIAS-program commented on #36
一回目の探索/再描画モードを経由して二回目に探索モードに入った時も、正しく二回目の画像と枠が表示されることを確認致しました。
ご対応いただきありがとうございます。
close致します。

[2022-04-15 23:50] #36 closed, assigned to nobody

[2022-04-16 00:03] COIAS-program commented on #43
私も、浦川さんの動画のように探索モード -> 再描画モード -> 探索終了を押してレポートモードに移行したときはこの現象は起きませんね。。。
ただし、探索モードから直接(再描画モードを経由せずに)探索終了が押せるようになっており、探索モードから直接探索終了を押してレポートモードに移動すると同様に一瞬レポート画面が見えた後に真っ白になります。
とはいえ、これは探索モードで再描画を押した時に処理をいくつかしていてレポートモードに必要な新しい中間ファイルができるのですが、再描画を押さなければそれらができないので当然ではありますが。。。
何かの参考になりましたら幸いです。

[2022-04-16 00:08] COIAS-program opened #44 "探索モードで探索終了ボタンを押せないようにする/探索終了ボタンを消す"
現在、探索モードにて直接探索終了ボタンが押せるようになっていますが、処理の関係で必ず再描画モードを経由しなければいけません。
そのため、探索モードでは天体を選択後必ず再描画モードに行くようにするため、探索終了ボタンを押せないようにするか、探索モードで探索終了ボタンを消してしまうのが良いと思います。
個人的には、消してしまった方がすっきりして良いかなと思います。
ただし、再描画モードでは「やり直す」ボタンと「探索終了」ボタンが必要ですので、こちらのモードからは消さないようにお願い致します。

[2022-04-16 00:20] COIAS-program opened #45 "ブリンク機能の初期化について"
探索モード/再描画モードにてブリンクを止めないまま、(レポートモードを経由してもしなくても)探索準備モードに戻り、再度探索モードに入ると、ブリンクが起動したままになります。
しかもこの場合、内部変数とボタンの状態が一致していないためだと思われますが、ブリンクボタン(右矢印/四角)を押してもブリンクを止められなくなります。
探索/再描画の画面に入り直すたびにボタンの状態を初期化すれば良いのではないでしょうか?
お手数ですが、ご対応をお願い致します。

[2022-04-18 00:37] AnbaiAnbai commented on #43
ご指摘ありがとうございました。

@urakawa-seitaro

ご対応ありがとうございます。現在こちらのGitHubにある物が最新版となりますので、そちらで一度確認していただけると幸いです。

@COIAS-program

こちらのご指摘に関しまして、再描画に入らなければ、探索終了ボタンを押せない仕様に変更させて頂きました。
ありがとうございました。

[2022-04-18 00:45] AnbaiAnbai commented on #44
@COIAS-program
ご意見ありがとうございます。
[66a4d94](https://github.com/coias/coias-front-app/commit/66a4d9425aced2b5794d9cdca77db806ddd93b46)にて対応させて頂きましたので、ご確認お願い致します。

[2022-04-18 04:35] AnbaiAnbai commented on #45
@COIAS-program
ご指摘ありがとうございます。
[318f998](https://github.com/coias/coias-front-app/commit/318f998f7b4327ac86803c69ed0cc6737889d1f6)にて修正させて頂きましたので、確認をお願い致します。

[2022-04-18 09:30] COIAS-program commented on #44
確認致しました。
ご対応いただきありがとうございます。

[2022-04-18 09:30] #44 closed, assigned to nobody

[2022-04-18 09:36] COIAS-program commented on #45
こちらも確認致しました。
ご対応いただきありがとうございます。

[2022-04-18 09:36] #45 closed, assigned to nobody

[2022-04-19 03:02] Mizunanari commented on #40
@COIAS-program

対応ありがとうございます。
再度確認させてください。

|テキストファイル|詳細|
| -- | -- |
| disp.txt | 既知小惑星と未知小惑星が記載 |
| unknown_disp.txt | 未知小惑星が記載 |
| karifugo_disp.txt | 既知小惑星のうち仮符号小惑星が記載 |
| numbered_disp | 既知小惑星のうち確定番号小惑星が記載 |

現在、探索モードではuknown_disp.txtを参照しています。
既知天体を表示（色付き？、枠選択不可）するには、既知天体のみのデータが必要になります。
２通りの方法が思いつきます。

1. karifugo_disp.txt + numbered_disp.txt = 既知天体のみのデータ
2. disp.txt - unknown_disp.txt (差分を表示

[2022-04-19 03:09] COIAS-program commented on #40
@Mizunanari
ご確認をいただきありがとうございます。
はい、1の方法で間違いないと思います。(ファイルがいっぱいあってややこしくて申し訳ないです。。。)
disp.txt = numbered_disp.txt (番号付き既知天体) + karifugo.txt (仮符号既知天体) + unknown_disp.txt (未知天体)

既知天体は黒枠のまま選択不可で良いと思います。(original COIASでもそうしているので)
なので、
既知天体 = numbered_disp.txt + karifugo_disp.txt は黒枠のまま選択不可
未知天体 = unknown_disp.txt は選択可能
となるかと思います。

お手数ですが、どうぞよろしくお願い致します。

[2022-04-19 03:13] COIAS-program commented on #40
ちなみに、original COIASではdisp.txtのみを見て、天体名が5文字(=番号付き既知天体)であるかKで始まる(≒仮符号既知天体)場合には選択不可にする、という方法を取っておりました。
が、今後表示名を変えたいなと個人的に思っておりますので、この方法は問題があります。
なので、薄さんがおっしゃるようにファイルの中身で区別するのが確実です。
表示天体名が変わろうが、numbered_disp.txtとkarifugo_disp.txtの中身は既知天体、unknown_disp.txtの中身は未知天体ですので。

[2022-04-19 08:41] AnbaiAnbai commented on #40
@COIAS-program
返信ありがとうございます。
[364b846](https://github.com/coias/coias-front-app/commit/364b846571b62370b16d5b0d39e15e74f20ff21b)にて修正させて頂きましたので、ご確認をお願い致します

[2022-04-20 00:25] Mizunanari opened #46 "グラブ・ズーム・スクロールに関するUI改善"

[2022-04-20 00:29] Mizunanari commented on #32
何度か変更を加えました。
バグと呼べる程ではないことから、#46 に移行させていただきます。
今後、グラブ・ズーム・スクロールに関するご意見はこちらにお願いできますでしょうか。

[2022-04-20 00:29] #32 closed, assigned to nobody

[2022-04-20 09:04] COIAS-program commented on #40
@AnbaiAnbai @Mizunanari
ご対応いただきありがとうございます。
karifugo_disp.txtとnumbered_disp.txtにデータが入っているときに正しく表示されることを確認致しました。

ただ、仮符号天体か確定番号天体が視野内に1つも検出されないとき、karifugo_disp.txtかnumbered_disp.txtは空になります。
このとき、空のファイルを読み込めずに以下のfile not foundエラーを出してしまい、探索/再描画の画面でGUI画面が止まってしまいます。
INFO:     172.18.0.1:64562 - "GET /karifugo_disp HTTP/1.1" 404 Not Found

unknown_disp.txtが空になることは恐らくないのですが、karifugo_disp.txtもしくはnumbered_d

[2022-04-21 02:34] AnbaiAnbai commented on #1
@urakawa-seitaro @COIAS-program
お疲れ様です。
現在再測定モードの

https://github.com/coias/coias-front-app/issues/1#issuecomment-1090008679

にて記載した、手順で実装しているのですが、現在

を実装途中で、

https://github.com/coias/coias-back-app/blob/5fc87437f0e157426517e5c8273dcc9862edc155/astsearch1Q5.py#L183

`[number, radec1b[0, 0], radec1b[0, 1], radec1b[0, 2], mag1, mage1, xy1[0, 0], ypix - xy1[0, 1], fil1])`

の引数の内容をそれぞれ教えて頂きたいです。

お手数

[2022-04-21 02:41] AnbaiAnbai commented on #40
@COIAS-program
ご確認とご報告ありがとうございます。
[3f12268](https://github.com/coias/coias-front-app/commit/3f1226825eb6f375a728183d51bd9fc72b3f4814)にてkarifugo_disp.txtとnumbered_disp.txtの両方のファイルが空だった場合にそのまま実行させるように修正しました。
ご確認をお願い致します。

[2022-04-21 03:45] COIAS-program commented on #40
@AnbaiAnbai
ご対応ありがとうございます。
karifugo_disp.txtが空の状態、ただしnumbered_disp.txtには確定番号既知天体の座標が書いてある状態でテストを行ったのですが、描画はできました。
ただし、numbered_disp.txtに記載の確定番号既知天体が探索モードにて再び描画されなくなりました。。。

ログを見る感じ、unknown_dispを呼んだあとkarifugo_dispを呼ぼうとして失敗してそこで処理が止まり、numbered_dispが呼ばれていないように見えるのですが、どうでしょうか?
あるいは、ソースコードを上書きして昔の状態に戻っていませんか？
ご確認をお願い致します。
![スクリーンショット 2022-04-21 12 42 23](https://user-images.githubusercontent.com/863909

[2022-04-21 05:04] AnbaiAnbai commented on #40
@COIAS-program
何度も申し訳ございません。
確認し、修正したのですが、描画後、再描画が表示されないバグが新たに発見したのでそちらを優先的に解決します。
もしかすると自分の環境だけでのエラーかもしれませんので、確認をお願いしてもよろしいでしょうか。

追記：すみません恐らく自分の環境だけのエラーでした。

[2022-04-21 08:31] COIAS-program commented on #40
@AnbaiAnbai
再描画が表示されない現象は私の環境では出ないですね。。。

描画/再描画時に(例え空であったとしても)karifugo_disp.txtとnumbered_disp.txtが表示されていることを確認致しました。
これでこのissueは解決で良いかと思いますので、closeさせていただきます。
ご対応いただきありがとうございました。

[2022-04-21 08:31] #40 closed, assigned to nobody

[2022-04-22 02:28] AnbaiAnbai commented on #43
@urakawa-seitaro @COIAS-program
ご報告いただいたバグに関しまして修正を私の環境ですが確認しましたので、こちらはcloseさせて頂きます。
また何かバグがありましたら、お手数ですが再度openまたは、issueとして新しくお願い致します。

[2022-04-25 02:36] AnbaiAnbai commented on #5
@COIAS-program
再描画時に確認画面が出る機能にて、修正させて頂きましたので、確認をお願い致します。

[2022-04-25 03:43] COIAS-program commented on #5
@AnbaiAnbai
確認致しました。
ダイアログの説明、数値が負だったり文字が含まれていたり100万番を超えていたりした場合に弾く機能など搭載していただいていて、完璧だと思います。

ただ、再描画画面で「やり直す」ボタンを押しても反応しなくなっているようです。
ご確認いただけますでしょうか?

[2022-04-25 05:50] AnbaiAnbai commented on #5
@COIAS-program
確認ありがとうございます。打ち合わせお疲れ様でした。
こちらのバグについて修正しましたので、確認をお願い致します。

[2022-04-25 06:42] COIAS-program commented on #5
@AnbaiAnbai
こちらこそ、打ち合わせありがとうございました。
やり直すボタンが押せるようになっていることを確認致しました。

ただ以下のバグがありましたので、ご確認をお願い致します。
探索モードで天体を選択 -> 「探索終了」を押して最初の新天体の番号を打ち込む -> 再描画モードにて「やり直す」を押す -> 再度探索モードで天体を選択し「探索終了」を押す、のフローで進んだ時、新天体の番号を指定するダイアログで新天体の番号を指定せずに「次へ」を押しても1回目に打ち込んだ番号からの連番になる。
前回の履歴を引きずっていると思いますので、初期化をお願いします。
またこのフローで進んだ時、新天体の番号を指定するダイアログで「指定する」のチェックが入っているときに番号指定ができずに、逆にチェックが外れているときに指定が可能となっている。
これも前回の履歴を引きずっているのに画面の表示だけ

[2022-04-26 00:16] AnbaiAnbai commented on #5
@COIAS-program
度々のバグ発生申し訳ございませんでした。
二つのバグについて初期化する方法で[fcaa2b9](https://github.com/coias/coias-front-app/commit/fcaa2b9c1b20daa80024a32a3b57b54a7ef0f689)にて修正させて頂きましたので、確認をお願い致します。

[2022-04-26 09:59] COIAS-program commented on #5
@AnbaiAnbai
ご対応いただきありがとうございます。
探索モードと再描画モードを行ったり来たりしてもダイアログで指定する新天体の初期番号とチェックボックスが正しく表示されていることを確認致しました。

ただ、ダイアログの右上のバツ印を押してダイアログを閉じたとき、ユーザーとしては入力をキャンセルして探索モードに戻る気持ちだと思うのですが、全ての天体にチェックが入った状態の再描画モードに入ります。
またこの後に「やり直す」ボタンを押して探索モードに戻り、もう一度ダイアログを開くと、チェックボックスと入力できる/できない状態が合わない状態になります。
ダイアログの外をクリックしてもダイアログが閉じられてしまい同様の症状が出ますね。。。

提案なのですが、ダイアログの右上のバツ印を消した上で、ダイアログ外をクリックしてもダイアログが閉じないようにして、「次へ」ボタンを押さなければ絶対にダ

[2022-04-27 03:17] AnbaiAnbai commented on #5
@COIAS-program
ご指摘ありがとうございます。
ご提案の通り、ダイアログのバツ印を消し、外をクリックしても消えない仕様に変更して対応させて頂きました。

ご確認お願い致します。

[2022-04-27 03:45] COIAS-program commented on #5
@AnbaiAnbai
ご対応いただきありがとうございます。
色々試してみましたが、これでこのissueに関しては完璧で特に問題はないようです。
issueを閉じさせていただきます。

[2022-04-27 03:45] #5 closed, assigned to nobody

[2022-04-29 08:18] urakawa-seitaro commented on #1
お返事遅れてすいません。
順番に[小惑星の番号（Hではじまる数字。Hは除く）、時刻、赤経（天体の座標）、赤緯（天体の座標）、明るさ、明るさのエラー、fits画像上でのx座標、fits画像上でのy座標、フィルター名]
となっています。
ypix - xy1[0.1]のところは今後少し修正するかもです（値に30pixelを足すかもしれません。）

[2022-04-29 09:04] urakawa-seitaro commented on #43
すいません。再openしました。開発環境下で確認しました。

<img width="1014" alt="スクリーンショット 2022-04-29 18 03 40" src="https://user-images.githubusercontent.com/65066368/165915566-21f1363a-8436-49c0-9af0-856cfdc135f7.png">

chromeのコンソール画面は上記のようでした。

[2022-04-29 09:07] urakawa-seitaro commented on #43
あと、Vscodeでのエラーは以下のとおりです。バックエンド側の軌道チェックプログラム（AstsearchR_afterRecoias）でエラーをだしていました。
<img width="674" alt="スクリーンショット 2022-04-29 17 51 30" src="https://user-images.githubusercontent.com/65066368/165915934-4a4220c2-ed55-4a40-98f4-4239f501d615.png">

[2022-04-29 12:21] COIAS-program commented on #43
@urakawa-seitaro
バックエンド側の問題の可能性が高いですね。
問題を起こした時のresult.txtを見られますか?
あと私の方でも確認したいので、問題を起こした時の5枚のwarpファイルをいただきたいです。
可能なら、どの天体を選択したかのリストも確認できますと幸いです。

あるいは、月曜日にzoomをする時に直接見せていただく方が早いかもしれません。

[2022-04-29 15:32] urakawa-seitaro commented on #43
月曜のzoomで確認しましょう。

[2022-05-02 14:03] #43 closed, assigned to nobody

[2022-05-09 00:14] AnbaiAnbai opened #47 "レポートモードにいるときはそれが分かるように上のレポートの文字を明るくして欲しい"

[2022-05-09 00:17] AnbaiAnbai opened #48 "移動天体候補四角マークのON/OFF機能の実装"

[2022-05-16 01:14] COIAS-program opened #49 "mpcレポートダウンロード時にKから始まる確定番号天体の書式がずれる"
最後のmpcレポートを表示する際およびダウンロードした後のmpc書式において、Kから始まる確定番号天体の書式がずれます。
添付ファイルの通り、ダウンロード前のsend_mpc.txtではずれていませんが、画面に表示する際およびダウンロード後のsend_mpc.txtではずれています。
恐らく、行頭がKなら問答無用で5文字の半角空白を行頭に追加する処理が入っているのではないでしょうか?
確定番号天体(5文字)なら頭に空白を入れてはいけませんが、仮符号天体もしくは未発見天体(7文字)は頭に半角5文字の空白を入れる必要があります。

ややこしいのでmpc書式の左から12文字の天体番号を表す部分について解説を書いておきます。
・確定番号天体については5文字で表現される(例: K8914)。KやHやJで始まるものも存在するが確定番号天体は5文字。将来的に~(チルダ)で始まるものも追加される予定。5文

[2022-05-16 01:16] COIAS-program commented on #49
上のpng画像が、コンテナ内部のbashでみたsend_mpc.txtの中身のスクリーンショット。
真ん中のsend_mpc_after_download.txtがダウンロード後のsend_mpc.txt
下のpng画像が、GUIのレポート画面で見たときのスクリーンショット。

[2022-06-06 01:55] AnbaiAnbai opened #50 "各issueに別リポジトリで対応"
@urakawa-seitaro @COIAS-program
各issueについて、ご指摘ありがとうございます。

#47 #48 #49 の
それぞれのissueについて、[別リポジトリ](https://github.com/hasegawa-taisei/coias-front-app)の最新のコミットにて対応させていただきましたので、ご確認をお願い致します。

実行方法といたしましては、現在使っているcoias-front-appはそのままに、別ディレクトリにて、
`git clone https://github.com/hasegawa-taisei/coias-front-app`
を実行していただき、vscodeを開き、reopen in containerで問題なく動作します。

別リポジトリの環境構築、実行等で問題ががございましたら、こちらのissueにて対応させてい

[2022-06-06 03:50] urakawa-seitaro commented on #50
vscodeからうまく動かないようです。

既存のディレクトリ構成

/Users/seitaro/coias-docker-compose

このディレクトリで./code-openでこれまでのバージョンが動く。

あらたにother-repoディレクトリを作成

/Users/seitaro/other-repo

この下で、|git clone https://github.com/hasegawa-taisei/coias-front-app|

|を実行。|

/Users/seitaro/coias-docker-compose

の下で./code-openを実行。左下の緑色からOpen Folder in
Containerを選び、そこからother-repoの下のcoias-front-appを選択。

添付のようなエラー。

||

On 2022/06/06 10:5

[2022-06-06 04:32] AnbaiAnbai commented on #50
@urakawa-seitaro
ありがとうございます。
添付されている写真がメールで見当たらない状況でして、推測での判断になりますが

/Users/seitaro/coias-docker-compose/other-repo
/Users/seitaro/coias-docker-compose/coias-front-app
をどちらも削除していただき

新たに、
/Users/seitaro/coias-docker-compose/
配下にて、
`git clone https://github.com/hasegawa-taisei/coias-front-app`
をしていただき、

/Users/seitaro/coias-docker-compose/coias-front-app
のレポジトリを新たに作っていただき、
vscodeでreopen in containe

[2022-06-07 08:00] AnbaiAnbai opened #51 "再測定（手動測定）モードのアパーチャを長方形にする"
@urakawa-seitaro @COIAS-program
#1 の中のさらに細かい部分での実装となりますが、長方形にする際の基準について

クリックした

- １〜２点目の長さが横
- ２〜３点目の長さが縦
- 長方形自体の傾きは、１〜２点目の角度を傾きとする

となり、最終的に出力するのに必要なのは、

1.　選んだ3点の座標
2.  １点目から3点目（対角線）の中心の座標

という認識です。

認識が合っているか、もしくは、足りない部分がありましたら
このissueにて、返信をよろしくお願い致します。

[2022-06-07 08:04] AnbaiAnbai opened #52 "再測定モードで、探索/再描画のように、今何枚目にいるのかをわかるようにする"
探索/再描画のコンポーネントをそのまま持ってくることで解決する可能性がある

もしくは、再測定用にアレンジすることも考える

[2022-06-07 08:08] AnbaiAnbai opened #53 "Grab,Zoom,Scrollの機能で、Grabの撤廃"
三つの機能の共存は難しい、UI/UXの観点からも、あまりよくないため、
Grabの機能を撤廃し、ズームとスクロールの機能に絞る。

[2022-06-07 08:11] AnbaiAnbai opened #54 "ズームインアウトに合わせて、天体の四角も拡大縮小"
ズームインアウトによって、天体の名前と四角も拡大縮小させる。

デフォルトは今まで通りの大きさ、そこから、状況に応じて、拡大縮小をする。

[2022-06-07 08:12] AnbaiAnbai opened #55 "探索準備モードっで"

[2022-06-07 08:12] #55 closed, assigned to nobody

[2022-06-07 08:18] AnbaiAnbai opened #56 "探索準備モードで、バックエンドにいくつかのパラメータを渡せるように修正"
- 自動測定の場合、全てデフォルトで実行。
- 手動測定の場合、パラメータを渡せるようにする。

上記の修正に伴って、デザインの修正から進める

[2022-06-07 08:31] AnbaiAnbai opened #57 "vscodeで、react立ち上げ時のエラー"
@urakawa-seitaro
先ほど拝見した、vscodeで立ち上げるときに表示されるエラーについてなのですが、
原因はおそらく、vscode側の何らかのエラーと思われまして、こちらでもそのエラーを確認しました。

起動方法が他に二つございまして、そちらでは、エラー無く起動することを確認しました。

一つ目が、

1. **vscode起動後、画面上部のメニューバーから、**ターミナル**-->**新しいターミナル**で、ターミナルを新たに開く
2. ターミナルに、`yarn start` と打ち込む

二つ目が、

1. `command` + `shift` + `p` の三つのキーボードを押す
2. 出てきたウィンドウに、run task と打ち込む
3. yarn : start を選択

どちらも問題なく動くことを確認しましたが、もし何か不具合があれば、対応させていただきます

[2022-06-07 09:25] COIAS-program opened #58 "使用する画像の枚数の自由化・フィルターの制限撤廃"
任意の枚数の画像を使用できるようにする方向になりそうですので、追加させていただきます。
バックエンド側のスクリプトに関してはすでに任意の枚数の解析に対応している(はず)です。
フロント側としてやっていただきたいアクションアイテムとしては、
・ファイルアップロード時の枚数制限を撤廃する
・探索モードなどで、5つの四角を用意しそれらを点灯することで現在の画像番号を表示していたのを、番号のみで示すようにする
あとはもしプログラムのどこかに「5」というマジックナンバーが入っている場合は、画像枚数に応じて可変になるようにお願い致します。

もう一点、ファイルアップロード時にフィルターが違っていても通すようにしていただきたいです。
ファイルの書式は、
warp-HSC-[filter]-[tract]-[patch]-[visit].fits
入力するファイル一式は [tract] と [patch]

[2022-06-07 09:32] COIAS-program commented on #54
恐らく言葉だけではお伝えするのが難しい内容だったと思いますので、補足です。
現状では拡大すると四角まで大きくなってしまいますが、拡大時には四角の重なりがなるべく無くなって欲しいので、画面(画像の枠)と四角の比が一定になるようにするのが良いと思います。(つまり天体の四角と名前は見た目の大きさは変わらず、画像だけ拡大される)
一方で、縮小するときは全体を見渡すという目的ですので、画面枠と四角の比が一定にしてしまうと画像に対して四角の主張が大きくなり過ぎてしまうので、四角と名前は画像と一緒に小さくなった方が良いと思います。

[2022-06-07 09:47] COIAS-program commented on #51
四角の厳密な作り方はこちらの関数をご覧ください。
https://github.com/COIAS-program/COIAS_program_github/blob/main/COIASlibs/calcrect.py
入力のr1, r2, r3がそれぞれ1, 2, 3点目の[x, y]座標を持つ要素2のリストです。
ここから計算されるrectPos1 - 4が四角形の頂点の座標になります。
GUIで確認する四角形とバックエンド側の測光時に生成する四角形がずれると大変なので、厳密に合わせるようにお願い致します。

現状のバックエンド側で書き出している4点は、拡大前の画面でクリックした1点と、拡大後の画面で長方形を作るべく選んだ3点の座標です。
が、確かに拡大前の画面でクリックした点は精度が悪いので、代わりに対角線中心の座標を出した方がいいかなと思いました。
なので、ここはバックエンド側が

[2022-06-07 09:49] COIAS-program commented on #51
あと細かいのですが、GUI上では画像の番号を1から始めていますが、バックエンド側での解析ではPythonのリストの添字法則に従い0から始めています。

[2022-06-07 17:25] urakawa-seitaro commented on #57
エラー出ずに起動できました。ありがとうございます。

[2022-06-07 17:25] #57 closed, assigned to nobody

[2022-06-07 18:31] urakawa-seitaro commented on #47
確認しました。明るくなってました。closeします。

[2022-06-07 18:31] #47 closed, assigned to nobody

[2022-06-08 23:19] COIAS-program opened #59 "探索モード・再測定モードをやり直した時に以前の選択を覚えているようにしたい"
再測定モード(手動測定モード)の後にも再描画モードを入れるかと思いますが、高い確率で見逃していて再測定したくなる天体を見つけるかと思います。
その場合、再度再測定モードに戻った時に以前の選択を記録していないとまた天体の指定・アパーチャーの設定をやり直さなくないといけなくなり大変面倒です。

従って、再測定モード => (再測定モードの)再描画モード => 再測定モードとやり直した場合にも、前回の選択を内部でプールして覚えておくか、memo_manual.txtを読み込むことで、以前の選択を思い出せるようにしていただきたいです。(初回はmemo_manual.txtはないので、あれば読み込む、とすれば汎用的かと。我々の独自GUIでは後者で実装しようと思います)

同様に、現状では探索モード => (探索モードの)再描画モード => 探索モードと戻ったときは前回の選択を忘れていますが、これもプ

[2022-06-09 00:10] AnbaiAnbai opened #60 "検出から逃れた点を自動検出ですでに検出された天体にappendする目的で、名前を変更するモードを実装する"
自分で手動測定していて気がついたんですが、結構自動検出に漏れてるやつがいますね。
例えば、目で見れば明らかに5枚に移動天体として写ってるのに(既知含む)、自動検出では4枚しか検出されてないので、1枚だけ検出から逃れているのがよくあります。
手動測定モードで、その検出から逃れた点を自動検出ですでに検出された天体にappendする機能が必要かもしれません。
あるいは、自動検出で同一の点とみなす半径が厳しいのかもしれませんのでそこの検討も必要かもしれませんが、状況が異なる場合が多くパラメータの調整だけでは難しいと思うので、結局再測定(手動測定モード)で人力でなんとかするしかない印象です。

[2022-06-09 00:36] COIAS-program opened #61 "キー入力でもブリンク・画像の移動をできるようにする機能(要望)"
使っていて思ったのですが、現在は(探索モードにせよ手動測定モードにせよ)天体の指定もクリックだしブリンクを開始/停止するのも画像を進める/戻すのもボタンクリックで行っています。
天体の探索はブリンクをしていないとできませんが、天体の移動が早い場合ブリンクを止めないと天体をクリックすることができないので、自然と作業がボタンクリックでブリンク開始 => 視認 => ボタンクリックでブリンク停止 => 天体クリック => ボタンクリックでブリンク開始 ... となり、マウスの移動が多くなり過ぎて煩雑に感じました。

そこで、例えばsキー(start/stop)を押した時もブリンクの開始/停止ができ、さらに右キーで次の画像に移動、左キーで前の画像に移動、とするのはどうでしょうか?
オリジナルCOIASに実装したら非常に快適になりました。

[2022-06-09 02:19] COIAS-program opened #62 "オートセーブ機能"
特に手動測定モードは注意深くアパーチャーを選んでいかなければいけないので、1組の画像全てを選び終わるのに30分とかかかったりします。
そういった作業の終盤に手で結果を出力(memo.txtとmemo_manual.txt)する前にバグや操作ミスで別画面に行ったりすると作業が消し飛ぶので非常にしんどいです。
なので、天体を選択するたびに都度自動でmemo.txtもしくはmemo_manual.txtを出力するようにした方が良いと思います。(オートセーブ)

僕もさっき30分強の作業が消し飛びました。。。

[2022-06-09 04:45] hasegawa-taisei commented on #53
@urakawa-seitaro @COIAS-program
グラブ機能を削除し、ズームとスクロール機能のみに変更いたしました。
ズーム機能は引き続きalt(option)ボタンを押しながら、マウスホイールを使用することでズームが可能です。
実際の動きは以下の動画のようになります。

こちらは新しく作成した`hasegawa-update-panzoom`のブランチで実装いたしました。
確認する際は、上部のブランチに移動していただき、実行をお願いいたします。

https://user-images.githubusercontent.com/105190797/172764658-eadf4700-c4ff-438d-a10f-4bf154daa828.mov

[2022-06-09 05:53] AnbaiAnbai commented on #52
@COIAS-program @urakawa-seitaro
コミット：[85a4a3e](https://github.com/coias/coias-front-app/commit/85a4a3e12c8527e4ac99870e357c407eee825344)
ブランチ：anbai-update-manualmode
にて、修正させていただきました。
ご確認をお願い致します。

[2022-06-09 05:57] AnbaiAnbai commented on #51
@COIAS-program @urakawa-seitaro
コミット：[85a4a3e](https://github.com/coias/coias-front-app/commit/85a4a3e12c8527e4ac99870e357c407eee825344)
ブランチ：anbai-update-manualmode
にて、修正させていただきました。

ご確認をお願い致します。

[2022-06-10 05:42] AnbaiAnbai commented on #46
@urakawa-seitaro  @COIAS-program
#53 #54 にて、対応させていただきますので、こちらは、クローズさせていただきます。

[2022-06-10 05:42] #46 closed, assigned to nobody

[2022-06-10 05:43] AnbaiAnbai commented on #1
@urakawa-seitaro @COIAS-program
#51 等で対応させていただきますので、こちらクローズさせていただきます。

[2022-06-10 05:43] #1 closed, assigned to nobody

[2022-06-10 05:43] #50 closed, assigned to nobody

[2022-06-10 11:23] COIAS-program commented on #53
グラブ機能が削除されていることを確認いたしました。
mainブランチにマージしていただいて良いかと思います。

個人的な意見ですが、コンフリクトが怖いので早めにマージした方が良いかと思います。
(またバグが見つかりましたらお知らせしますので)

ひとまず、このissueは閉じさせていただきます。

[2022-06-10 11:23] #53 closed, assigned to nobody

[2022-06-10 11:30] COIAS-program commented on #49
Kから始まる既知天体は先頭に空白が入らないことを確認致しました。
これで仕様通りかと思いますので、このissueは閉じさせていただきます。
またバグが見つかりましたらお知らせ致します。

[2022-06-10 11:30] #49 closed, assigned to nobody

[2022-06-10 11:39] COIAS-program commented on #48
探索モード・再描画モードにて天体の四角と名前がON/OFFできることを確認致しました。

ただ、まだ再測定(手動測定)モードが実装途中なので仕方ないのですが、このモードでもON/OFFが切り替えられるようにしていただきたいです。
実は四角の影に隠れて検出されていない光源が見えないことがあるので、むしろ再測定(手動測定)モードの方に四角・名前のON/OFF機能がクリティカルだったりします。

そのため、まだこのissueは開いたままにさせていただきます。

[2022-06-10 11:47] COIAS-program commented on #54
ズームに関するissueがこれしかないのでここに書かせていただきます。
現状のズーム機能ですが、ズームするにあたってスクロールバーの位置やサイズが正しく変化していることは確認致しました。
ただ、原点(画像の左上)を中心にズームをするようになってしまっています。
現在の画面の中央を中心にズームをするようにお願い致します。

[2022-06-10 12:03] COIAS-program commented on #52
当該ブランチにて、再測定(手動測定)モードで今何枚目にいるかのコンポーネントが表示されていることを確認致しました。
この機能についてはmainにマージして良いと思います。
また、このissueを閉じさせていただきます。

ただし、https://github.com/coias/coias-front-app/issues/58 に書いております通り、画像の枚数が自由になったら現状のコンポーネントをそのまま使えないため、探索/再描画モードだけではなくこのモードも改修する必要があることをご承知おきください。

[2022-06-10 12:03] #52 closed, assigned to nobody

[2022-06-10 12:10] COIAS-program opened #63 "再測定(手動測定)モードのリロードについて"
再測定(手動測定)モードについて、探索/再描画モードを表示させている状態で再測定(手動測定)モードのボタンを押すと画像が表示されるのですが、上のURL欄を叩いてリロードすると画像が表示されなくなります。
まだ再測定(手動測定)モードについては実装中ですので今後のアップデートでご修正いただければと思いますが、リロード時にも正しく表示されるようにお願い致します。

ちなみに、オリジナルCOIASでは再測定(手動測定)モードで表示されるのは、画像＋redisp.txtに記載の天体の四角と名前です。
redisp.txtは探索モードを終えて再描画モードに遷移をしなければ出力されませんので、再描画モードを介さずに再測定(手動測定)モードに移行した場合はエラーを出すようにした方が良いと思います。

[2022-06-12 23:43] AnbaiAnbai commented on #48
@COIAS-program
ありがとうございます。
コミット：[85a4a3e](https://github.com/coias/coias-front-app/commit/85a4a3e12c8527e4ac99870e357c407eee825344)
ブランチ：anbai-update-manualmode
にて、同時に再測定にon/offを実装させていただきました。

ご確認をお願い致します。

[2022-06-13 02:56] AnbaiAnbai opened #64 "再測定モード--->手動測定モード"
再測定モードの名称を再測定モードに変更することに伴い、frontのタブ等の表記を変更する

[2022-06-13 04:26] COIAS-program commented on #48
再測定(手動測定)モードにて四角のon/offが実装されていることを確認致しました。
mainブランチにマージしていただければと思います。
このissueはクローズさせていただきます。

[2022-06-13 04:26] #48 closed, assigned to nobody

[2022-06-13 08:38] hasegawa-taisei commented on #61
@COIAS-program @urakawa-seitaro
コミット : 16f9e55
ブランチ：hasegawa-update-panzoom
上記にて実装いたしました。

確認の方よろしくお願い致します。

[2022-06-13 09:47] COIAS-program commented on #61
hasegawa-update-panzoomブランチの探索/再描画モードでsキーによるブリンクの開始/停止と左右キーで画像を戻す/進めることができることを確かめました。

ただし、URLを叩いたりして探索/再描画モードに入った時には、画面にフォーカスが当たっていないせいかキー入力が受け付けられず、画面のどこかをクリックして初めてキー入力が可能になります。
この画面に入った瞬間にフォーカスを当てられないでしょうか?
また、中央の画像をクリックして画像にフォーカスを当てていると、左右キーで画像の位置が移動するだけになります。(しかもスクロールの外まで移動する)
画像にフォーカスが当たっている時にこの左右キーによる画像の平行移動を無効化できないでしょうか?

長谷川さんのブランチには再測定(手動測定)モードの機能は取り込まれていませんが、このsキーによるブリンクの開始/停止と左右キーによる画像

[2022-06-14 07:21] hasegawa-taisei commented on #61
@COIAS-program @urakawa-seitaro
コミット : [b7ae675](https://github.com/coias/coias-front-app/commit/b7ae675bc64fafe1c632db5c0a7b44637023cd46)
ブランチ：hasegawa-update-panzoom
上記にて修正をいたしました。

画像上でのカーソルキーによるスクロールを無効化（画像上で「sキーによるブリンク、カーソルキーによる画像を進める、戻す」は可能になっております。）
ヘッダーから探索/再描画モードに入った場合と、探索/再描画モードに入った状態でページをリロードした後、どちらでも画面をクリックせずにキー入力でのブリンクが可能になるように変更いたしました。

ご確認のほどよろしくお願いいたします

[2022-06-14 08:05] COIAS-program commented on #61
@hasegawa-taisei
ご対応いただきありがとうございます。
お願いした点は完璧に実装されていますので、mainブランチへのマージをお願い致します。

先日書きましたように再測定(手動測定)モードにもこの機能を実装していただきたいので、このissueはまだ開いたままにさせていただきます。

[2022-06-15 04:36] COIAS-program commented on #61
現在のmainを取り込んだanbai-update-manualmodeブランチにて、手動測定モードでキー入力が正しく動いていることを確認致しましたので、issuを閉じさせていただきます。

[2022-06-15 04:36] #61 closed, assigned to hasegawa-taisei

[2022-06-15 04:37] COIAS-program commented on #64
mainを取り込んだanbai-update-manualmodeブランチにて名称が変更されていることを確認致しました。
issuを閉じさせていただきます。

[2022-06-15 04:37] #64 closed, assigned to AnbaiAnbai

[2022-06-17 02:48] #51 closed, assigned to AnbaiAnbai

[2022-06-24 04:54] AnbaiAnbai commented on #63
@COIAS-program
こちらの機能を最新のanbai-update-manualmodeにて実装致しましたので、確認をお願い致します。
デモ動画は、slackにあげさせて頂きます

[2022-06-24 04:55] AnbaiAnbai commented on #62
@COIAS-program
こちらもslackに載せさせて頂きました。
確認をお願い致します。

[2022-06-24 07:23] COIAS-program commented on #63
@AnbaiAnbai
ご対応いただきありがとうございます。
手動測定モードにてクリック毎にmemo_manual.txtが書き出され、番号と座標の情報が保存されていることを確認いたしました。

同様の仕組みを、探索モードにも組み込んでいただけないでしょうか?
すなわち、探索モードにてノイズと天体を見分ける時に、画面をクリックするごとにmemo.txtを書き出す。
memo.txtは探索モードにて四角を赤色にした天体のH番号を一列に書き出したものです。(下記添付ファイルを参照)
[memo.txt](https://github.com/coias/coias-front-app/files/8973960/memo.txt)
赤色は再クリックすると黒色に戻して選択を取り消せるので、毎回赤い天体のH番号をmemo.txtに新規上書きする形で全部更新すると良いと思います。

また、手動測定モ

[2022-06-24 07:25] COIAS-program commented on #62
@AnbaiAnbai
ご対応いただきありがとうございます。
手動測定モードにてクリック毎にmemo_manual.txtが書き出され、番号と座標の情報が保存されていることを確認いたしました。

同様の仕組みを、探索モードにも組み込んでいただけないでしょうか?
すなわち、探索モードにてノイズと天体を見分ける時に、画面をクリックするごとに[memo.txt](https://github.com/coias/coias-front-app/files/8973960/memo.txt)を書き出す。
memo.txtは探索モードにて四角を赤色にした天体のH番号を一列に書き出したものです。(下記添付ファイルを参照)
[memo.txt](https://github.com/coias/coias-front-app/files/8974042/memo.txt)
赤色は再クリックすると黒色に戻

[2022-06-24 07:27] COIAS-program commented on #63
@AnbaiAnbai
(書き込む場所を間違えましたのでさっきのコメントは削除して再度書き込みます)
リロードした時にもredisp.txtの内容が表示され、またredisp.txtが無い状態で手動測定モードに遷移しようとした時にはエラーが出ることを確認いたしました。
こちらのissueは問題なく思いますので、issueを閉じさせていただきます。

[2022-06-24 07:27] #63 closed, assigned to AnbaiAnbai

[2022-06-24 07:37] AnbaiAnbai commented on #62
@COIAS-program
ご確認ありがとうございました。
実装の概要理解させて頂きました。こちらはつまり、#59 に、さらに四角を設置するなどの機能を追加するという認識でよろしいでしょうか？

[2022-06-24 07:45] COIAS-program commented on #62
@AnbaiAnbai
すみません、別issueで同様の内容が既にあがっていましたね。。。
はい、#59の内容とセットで扱っていただければと思います。
四角の設置やアコーディオンの内容もmemo.txtやmemo_manual.txtと同期させる、ということになります。

[2022-06-24 07:48] AnbaiAnbai commented on #62
@COIAS-program
いえとんでもないです。
仕様の詳細を把握させて頂きましたので、このまま実装してみます。
ありがとうございました。

[2022-06-28 00:17] AnbaiAnbai commented on #62
@COIAS-program
お疲れ様です。
[fba32ef](https://github.com/coias/coias-front-app/commit/fba32efd5e62baa475a34fa706a64219cfc255ce)にて、#62 と #59 を対応させて頂きました。
確認をお願い致します。

[2022-06-28 10:14] COIAS-program commented on #62
@AnbaiAnbai
すみません、anbai-update-manualmodeブランチにて確認したところ、何も機能は実装できていないように見えるのですが。。。
ブランチは合っていますでしょうか?
意図が伝わっていないようでしたら、明後日木曜日の打ち合わせでお伝えできればと思います。

また、同ブランチの再描画モードにて、どうもdisp.txtの天体の四角が全て描画されているように見えます。
再描画モードではredisp.txtに記載の天体のみ表示が正しいです。
mainブランチでは正しい挙動のままなので、ご確認いただき修正をお願いします。

[2022-06-29 00:02] AnbaiAnbai commented on #62
@COIAS-program
申し訳ございません。
オートセーブ用に用意したcoias-back-appを更新し忘れておりました。
更新しましたので、back-appの、mainをpullして再度お試しください。
お手数ですがお願い致します。

[2022-06-29 00:31] COIAS-program commented on #62
@AnbaiAnbai
ご連絡ありがとうございます。
・探索モードにおけるオートセーブは実装されていない。「再描画」ボタンを押さずとも天体をクリックするごとにmemo.txtの出力をお願いします。
・ただしmemo.txtが存在する時に、何処かへ行って探索モードに戻ったときや画面をリロードした時に、memo.txtの中身を読み込んで復元することが実装されていることは確認いたしました。
・再描画モードの挙動がやはりおかしい。再描画モードは、redisp.txtに記載の天体を、全て黒色の四角で描画し(=チェックボックスも外れたまま)、また選択は一切できないモードです。mainブランチの挙動は正しいはずなのでそちらをご参照の上ご修正ください。
・手動測定モードは完璧だと思います！リロード時のmemo_manual.txtの読み込みも正しくできていて、png <-> fits座標系間の変換も正しく

[2022-06-29 00:44] AnbaiAnbai commented on #62
@COIAS-program
ご確認ありがとうございます。
探索モードにおけるオートセーブなのですが、先程back-app微修正しましたので最新のもので再度お試しいただければと思います。
よろしくお願い致します。

[2022-06-29 00:58] COIAS-program commented on #62
@AnbaiAnbai
pushをお願いしてもよろしいでしょうか?
back-appの最新のcommitが1時間前になっているのですが、、、

[2022-06-29 01:05] AnbaiAnbai commented on #62
@COIAS-program
1時間前に、2度commitを行いましたので、自分の環境ですと、
front[anbai-update-manualmode], back[main]のどちらも最新commitでオートセーブがされているのですが、いかがでしょうか。
ご確認お願い致します。

[2022-06-29 01:33] COIAS-program commented on #62
@AnbaiAnbai
front[anbai-update-manualmode]側の最新commitが取り込めていませんでした。
これを取り込むことで再描画モードの挙動は正しくなりました。
ただし、私の環境でもback[main]は最新ですが、「「再描画」ボタンを押さずとも天体をクリックするごとにmemo.txtの出力をする」は実装されていません。
back[main]ではマージ操作が最新のcommitになっているのですが、合っていますでしょうか?

[2022-06-29 02:16] AnbaiAnbai commented on #62
@COIAS-program
大変申し訳ございませんでした。
frontを更新しましたので、frontを最新のもの[ac28d73](https://github.com/coias/coias-front-app/commit/ac28d73ac8da4f900135447d44c1b17be621f561)でお試しください。

右側の、チェックボックスには対応していたのですが、天体クリックに対しては全く未対応でした。

お手数おかけいたしますが、ご確認のほどよろしくお願い致します。

[2022-06-29 02:34] COIAS-program commented on #62
@AnbaiAnbai
早速のご対応ありがとうございます。
すみません、チェックボックスでのオートセーブは見落としていました。。。
最新版にて探索モードの天体クリックでもオートセーブされていることを確認いたしました。

これにて、オートセーブ機能と手動測定モードについては一旦mainにマージしてしまっても良いかと思います。

もう少し色々試してみたいのですが、今週はあまり時間が取れなさそうなので、またこれらの機能については落ち着いてからテストを行おうと思います。
しかるのちにissueを閉じさせていただきます。

[2022-06-29 02:40] AnbaiAnbai commented on #62
@COIAS-program
お忙しい中ありがとうございました。
よろしくお願い致します。

[2022-06-29 02:47] COIAS-program commented on #62
すみません、一点気がつきました。(こういった要望は五月雨式に出てきてしまうので申し訳ありません。。。)
手動測定モードにて、天体を追加した際にオートセーブされるようになっていますが、天体を削除する時(天体の四角をクリックしてその四角だけ消す時と、右側のチェックボックスにて天体毎消す時)にもオートセーブしていただけるようにお願いしてもよろしいでしょうか?

[2022-06-29 03:24] AnbaiAnbai commented on #62
@COIAS-program
ありがとうございます。
anbai-update-manualブランチで対応させて頂きました。
また、slackに記載のエラーも解消されたと思うので、ご確認をお願い致します。

[2022-06-29 03:56] COIAS-program commented on #62
ご対応ありがとうございます。
消去時にもオートセーブされることを確認いたしました。

[2022-07-01 12:19] COIAS-program opened #65 "手動測定モードで3点を選ぶ時に画像の外を選べてしまう問題"
GUI COIASにもオリジナルCOIASの独自GUIにも共通の問題なので、備忘録のためにこちらに記載します。

手動測定モードで画像をクリックして拡大画像を開く時、画像の端をクリックすると、画像の外側も写り込む拡大画像が表示される。
それそのものは問題ではないが、拡大画像で3点を選ぶ時に画像の外側が選べてしまい、memo_manual.txtに画像の外側の無効な座標が書き出されてしまう。
画像の外側の無効な座標でその後の解析をすると明らかにエラーになるので防がなくてはいけない。
memo_manual.txtに書き出す4点(x, yで値は合計8個)が画像の外側(=負の値かx, y方向のピクセルの最大値より大きい)の値になっているかチェックし、その場合は再選択するように促す機能が必要。

<img width="1343" alt="スクリーンショット 2022-07-01 21 11 0

[2022-07-01 12:43] COIAS-program opened #66 "手動測定モードの上書き防止についての要望"
ある天体ある画像についてすでに選んだことがあっても、その四角の外側をクリックしたら、「すでに測定されていますが再測定しますか?」と聞くようにしてから再度拡大画像を開いて測定させるようにお願いしたいです。
(四角の内側をクリックしたら「消しますか?」と聞かれる仕様はそのままで大丈夫です)

というのも、自分で真面目に手動測定してみて気がついたのですが、とある天体について測定し終わって次の天体を探していると、手動測定に熱中するあまり右のアコーディオンを新たに開き忘れて上書きしてしまうことが何度もあったからです。

[2022-07-01 12:49] COIAS-program commented on #62
確認完了しました。
issueを閉じます。

[2022-07-01 12:49] #62 closed, assigned to AnbaiAnbai

[2022-07-01 12:50] COIAS-program commented on #59
確認完了しました。
issueを閉じます。

[2022-07-01 12:50] #59 closed, assigned to AnbaiAnbai, hasegawa-taisei

[2022-07-05 00:31] hasegawa-taisei commented on #54
@COIAS-program @urakawa-seitaro
コミット : db7fc30
ブランチ : anbai-update-manualmode
上記にて実装致しました。
ご確認のほどよろしくお願いいたします。

[2022-07-05 02:47] AnbaiAnbai commented on #65
@COIAS-program
コミット : [728e0c4](https://github.com/coias/coias-front-app/commit/728e0c4554ce7cdd7f698c3ae3baa9f143f33ff9)
ブランチ : anbai-update-manualmode
にて、範囲外の場合はモーダルでアラートを出すように修正しました。
ご確認をお願い致します。

[2022-07-05 02:53] AnbaiAnbai commented on #66
@COIAS-program
ご要望ありがとうございます。
コミット : [728e0c4](https://github.com/coias/coias-front-app/commit/728e0c4554ce7cdd7f698c3ae3baa9f143f33ff9)
ブランチ : anbai-update-manualmode
にて、ご要望の通りに実装させて頂きました。

ですので、現在手動測定のクリック時の挙動としては以下３パターンとなります。

1. 未選択の場合、そのまま3点選択へ
2. 選択済みで、その天体をクリックすると確認後に削除
3. 選択済みで、その天体以外をクリックすると確認後に更新

ご確認をお願い致します。

[2022-07-05 04:39] COIAS-program commented on #66
@AnbaiAnbai
確認致しました。
要望通りに実装されていると思います、ありがとうございました。

一点だけ、3.で更新をした直後に画像からフォーカスが外れ、左右キーとsキーの入力が入らない状態になります。
フォーカスが外れないようにお願い致します。

[2022-07-05 04:46] COIAS-program commented on #65
@AnbaiAnbai
デモ動画を確認し、自分でも動かしてみました。
基本的な実装はこれで大丈夫だと思います。
ただ、アラートを出す基準がよくわからないのと、3点選んだ時に画像の外を選んだ場合memo_manual.txtに書き出す際に画像内になるように補正してから出力していますかね?

私の意図としては、「選んだ3点のうち1つでも画像の外ならばアラートを出して再入力を促す」というものになります。
その方向でご修正いただければと思います。

[2022-07-05 05:28] COIAS-program commented on #54
@hasegawa-taisei
ご対応いただきありがとうございます。

1. 画像のボタンに「x10」などと書いてありますが、この数値は何を示しているのでしょうか? 単純に考えれば拡大率(=元画像の横方向の全ピクセル数/画像表示領域の横方向に表示されている部分の元画像でのピクセル数)になると思いますが、現状ではx10でもせいぜい4/3倍にしかなっていないように見えます。倍率の定義をしっかり定めた上で、表記と実際の拡大のされ方が合うようにお願い致します。

表記ミスが原因。削除

3. 画面の中央を中心に拡大縮小するようになっていないので不便です。例えばx50で画像の右下を見ている時に、x200を押してさらに拡大するとあらぬ場所を見ていたりします。(完全にランダムな場所ではなく多少追随しているような気もしますが。。。前回の履歴を見ている?) 画面中央のpng座標を常に内部変数に記憶をしてお

[2022-07-05 06:19] hasegawa-taisei commented on #54
@COIAS-program
ご確認いただきありがとうございます。

1. 拡大率の表記に関しましてはこちらの実装の誤りでした。大変申し訳ございません。現在の拡大率は元画像の大きさを基準に1, 1.25, 1.5, 2, 3, 6倍の拡大率になっております。ボタンの表記はこの拡大率に合わせて修正させていただきます。

[2022-07-05 06:51] COIAS-program commented on #54
@AnbaiAnbai @urakawa-seitaro
承知致しました。修正よろしくお願い致します。

倍率の上限についてですが、もう少し大きくてもいいかなと思います。
png画像のピクセル数の最大値は把握している限りでは5100です。また明るめの天体の広がり方は10ピクセル程度です。なので10ピクセルがそれなりに解像できる拡大率が最大だと良いかと思います。
例えば20倍があれば、表示領域に横255ピクセル、縦125ピクセル程度入るように見えると思いますが、これなら10ピクセルの天体が程よく分解できるかと思います。

そこで、1, 1.25, 1.5, 2, 3, 6に加え、10と20も追加をお願いできますでしょうか?
ボタンが8種類になってしまいますが、元の画像サイズが500 ~ 5000の間で変わり得るので、ユーザーが色々と選べるようにしておいた方が良いかと思います。

[2022-07-05 08:13] AnbaiAnbai commented on #65
@COIAS-program
デモ動画の確認ありがとうございます。

について認識のズレがありましたので、最新版にてそのように修正させて頂きました。

またこれはなかなか珍しい例だと思うのですが、デモの動画のように、選んだ3点の1点が外側だが、その後に作成される四角形の4点は内側に入っているパターンも許容しているのですが、これはこれで問題ないと思っているのですがいかがでしょうか。

確認をお願い致します。

https://user-images.githubusercontent.com/97570265/177280616-65ca4630-59d7-4604-8d9a-f22ffaed3afd.mov

[2022-07-05 08:14] AnbaiAnbai commented on #66
@COIAS-program
ご確認ありがとうございます。
フォーカスが外れないように修正させて頂きましたのでご確認お願い致します。

[2022-07-05 08:37] COIAS-program commented on #66
@AnbaiAnbai
修正確認致しました。
これで問題ないと思いますので、issueを閉じさせていただきます。

[2022-07-05 08:37] #66 closed, assigned to AnbaiAnbai

[2022-07-05 08:42] COIAS-program commented on #65
@AnbaiAnbai
実際のphotometryに使うのは描画された四角形なので、ご指摘の通り選んだ3点のうち1つが画像の外に出ていても、四角形が画像の範囲内に入っていれば問題ないと思います。
この実装で問題ないと思います。

バックエンド側独自GUIでも同様の実装を行いましたので、このissueを閉じさせていただきます。

[2022-07-05 08:42] #65 closed, assigned to AnbaiAnbai

[2022-07-06 23:45] AnbaiAnbai opened #67 "「探索/再描画」と「手動測定/名前修正」の部分のデザイン改善"
現状、「探索/再描画」と「手動測定/最終確認」とすべき機能が揃っているが、これだと長いため「探索」と「手動測定」のように短くしたい。
しかし、これだと再描画、最終確認が必ず行わなければならないプロセスであることが分かりにくいため、ヘッダーと再描画周りのデザインから改善する。

[2022-07-07 06:10] COIAS-program commented on #67
関連して、レポートモードボタンを有効にするか? それとも再描画モードおよび手動測定の再描画モードの「探索終了」ボタンからのみからしかレポートモードに行けないようにするか? の議論が必要。
さらに関連して、探索準備モードを行っていない状態で探索モード及び手動測定モードに行けないようにする機能の議論も必要。
(できればここら辺の機能は統一的にできたら分かりやすくて良い)

[2022-07-07 06:53] COIAS-program commented on #67
この議論をさらに単純化すると、現状では他のモードに遷移するのに2通りやり方があります。

1. 画面上のモードボタンを押す
2. モード内の「探索終了」、「手動測定終了」を押す

現状この2つが混じっていますが、個人的にはどちらに統一をした方が良いと思います。

1.に統一をするのならば
- 「探索終了」と「手動測定終了」ボタンは削除してしまう
- 上のモードボタンでいつでもどこでも行けるようにする
- ただし、そのモードで必要となるファイルがカレントディレクトリに無い場合、そのモードに行ってもエラーモーダルを出して直前のモードに差し戻すか、鍵マーク＋カーソルを合わせても反応せずそのモードに行けないようにする、などの処置が必要。(必要なファイルがあるならば鍵をなくし、カーソルを合わせると明るくなって、かつクリックするとそのモードに行ける)
- ユーザーの自由度が高い実装

2.に統一をする

[2022-07-08 00:45] hasegawa-taisei commented on #54
@COIAS-program @urakawa-seitaro
コミット : 16575ee
ブランチ : anbai-update-manualmode
上記にて実装致しました。

10,20倍の拡大率の追加。拡大に伴う四角の変化を、頂いた資料をもとに実装致しました。
デモ動画はサイズの問題により、slackの方に送らせていただきます。

ご確認のほどよろしくお願い致します。

[2022-07-12 00:04] AnbaiAnbai commented on #67
@COIAS-program
ご意見ありがとうございます。
自分も1に統一したほうが、画面上のモードボタンが果たすべき責務の観点からも、直感的でいいと思います。
ただ、１を採用する場合のデザインの最適化は一旦議論させていただいた上で、案としてデザインを別ブランチで提供させていただければと思います。

[2022-07-21 06:10] hasegawa-taisei commented on #58
@COIAS-program
コミット : 86fc7bd
ブランチ：urita-fix-exploreprepare
上記にて実装いたしました。
枚数・フィルターの撤廃、またこれに伴に探索モードでの現在の画像番号の表示の修正を行いました。
ご確認の方よろしくお願い致します。

また、使用枚数の自由化についてですが、最低枚数はございますでしょうか。
現在は一枚でもファイルアップロードを行うことができ、その後の全自動または手動処理の際にエラーが出るようになっております。
最低枚数がございましたら、ファイルアップロード時にエラーハンドリングとしてモーダルの表示等をしたいと考えております。
よろしくお願い致します。

[2022-07-21 06:41] COIAS-program commented on #58
@hasegawa-taisei
ご対応ありがとうございます。
後ほど確認いたします。

最低枚数は3枚でお願い致します。
つまり、3枚は許容するが、2枚以下ならエラーを出して再度アップロードさせる(領域が異なる画像が混ざっていた時の挙動と同じ)動きでお願いしたく思います。

現状では、3枚の場合だとissue #56 にもあるパラメータを変えないと確定でエラーになるので、とりあえずそこは気にしなくても大丈夫です。
(バックエンド側でも3枚で試したことがないので他の箇所でもエラーが出る可能性はありますが、原理的には3枚でも可能なはずです)

[2022-07-21 07:09] hasegawa-taisei commented on #58
@COIAS-program
ご回答いただきありがとうございます。

コミット : a49324c

上記の最新コミットにて、最低枚数の設定とエラーの表示を実装いたしました。
こちらも合わせてご確認の方よろしくお願い致します。

[2022-07-22 01:36] hasegawa-taisei commented on #58
@COIAS-program
大変申し訳ございません。
コミット : a49324c　[#update :](https://github.com/coias/coias-front-app/commit/a49324c2ad140900db33e9fa2b83cc748e5e4b4b) https://github.com/coias/coias-front-app/issues/58 [最低枚数の設定、エラー表示](https://github.com/coias/coias-front-app/commit/a49324c2ad140900db33e9fa2b83cc748e5e4b4b)
上記コミットにて、ブリンクの箇所にバグがありましたので、以下のコミットで修正を行いました。

コミット : 8cb2de3
お手数をおかけいたしますが、こちらの最新コミットでご確認の方よろしくお願

[2022-07-22 04:02] COIAS-program commented on #58
確認させていただきました。完璧だと思います。
15枚で解析することができました。UIも素晴らしいと思います。
また、
・領域が違う画像が含まれているときと、枚数が二枚以下のときに再アップロードを促すこと
・フィルターが違う画像が含まれていてもアップロードできること
も各人致しました。

特に問題ないと思いますので、mainブランチへのマージをお願い致します。
またissueもクローズいたします。
<img width="1388" alt="スクリーンショット 2022-07-22 11 25 24" src="https://user-images.githubusercontent.com/86390904/180359482-ab4b9578-e84d-4942-9d81-9da48a6b9ac8.png">

[2022-07-22 04:02] #58 closed, assigned to urichika

[2022-07-22 06:10] COIAS-program commented on #56
@urakawa-seitaro @AnbaiAnbai @hasegawa-taisei
7/22時点仕様(今後の議論で変わるかもしれません)
設定したいパラメータは
1. nd (N Detection: 何枚以上で光源を検出したら移動天体と見なすか => 日本語: 検出光源必要数、デフォルト4)
2. ar (Aparture Radius: 自動測光での測光半径[pixel] => 日本語: 自動測光半径、デフォルト6)
3. sn (Source Number: 画像一枚あたりの光源数 => 日本語: 平均光源数、デフォルト2000)
の3つです。
それぞれ探索準備モードの最初の画面のどこかに設定できる窓をおいて、未入力ならデフォルト値を入れておいていただければと思います。(どれも慣れた人しか調整しないパラメータなので、目立つ場所におかなくて良いかも。現状の自動/手動解析の切り替

[2022-07-22 06:24] urakawa-seitaro commented on #56
arの値はビニング4*4を選択した時のデフォルト値を３に変更することは可能でしょうか？

[2022-07-27 06:34] COIAS-program commented on #60
モードについての詳細仕様を記したワードファイルを作成致しました。
[20220727名前付け替え機能詳細仕様.docx](https://github.com/coias/coias-front-app/files/9195686/20220727.docx)

[2022-07-28 06:45] COIAS-program commented on #54
恐らく問題ないと思いますので閉めます。

[2022-07-28 06:45] #54 closed, assigned to hasegawa-taisei

[2022-08-01 01:19] AnbaiAnbai opened #70 "Webアプリの最適化"
画像7枚や、天体候補の枠がたくさんあり、描画対象が多いブリンク時のホワイトアウト。
メモリのリークが一番の原因と考えられるので、最適化をすべき。

[2022-08-01 05:32] COIAS-program commented on #60
本日の確認では問題なかったので、ひとまずissueを閉じさせていただきます。
また気になることがあればslackでご連絡いたします。

[2022-08-01 05:32] #60 closed, assigned to AnbaiAnbai

[2022-08-02 05:55] urichika commented on #56
@COIAS-program
仕様についてのコメントありがとうございます。
front : urita-fix-parameter, back : main
で以下のように修正しましたので、確認お願いいたします。
![スクリーンショット 2022-08-02 14 54 07](https://user-images.githubusercontent.com/94360310/182302006-dac98d33-d2ca-4fdb-8f4d-1b96a56d0cc3.png)

[2022-08-02 11:36] COIAS-program commented on #56
@urichika
ご対応いただきありがとうございます。
仕様通り、設定したパラメータが渡されていることを確認致しました。
一点だけお願いなのですが、手動処理だけでなく全自動処理でもパラメータが設定できるようにしていただけないでしょうか?
全自動処理でもパラメータを設定したい場合があるので。

[2022-08-04 05:52] urichika commented on #56
@COIAS-program
ご意見ありがとうございます。
全自動処理でもパラメータを設定できるようにしましたので,確認お願いいたします。

[2022-08-04 06:41] COIAS-program commented on #56
@urichika
ご対応ありがとうございます。
全自動処理でも問題なくパラメータ設定できました。
mainブランチにマージしていただければと思います。
またこのissueを閉じさせていただきます。

[2022-08-04 06:41] #56 closed, assigned to urichika

[2022-08-04 08:01] #70 closed, assigned to nobody

[2022-08-18 05:44] COIAS-program commented on #67
デザイン修正は基本的に完了していると思いますので、issueをクローズ致します。

[2022-08-18 05:44] #67 closed, assigned to AnbaiAnbai

[2022-08-26 05:01] Mizunanari opened #71 "小惑星更新ボタンの非活性化"
小惑星更新ボタンを押して走ったスクリプトが終わるまでぐるぐる+「小惑星データ更新中」の文字を画面に出して、操作不能

[2022-09-01 05:58] hasegawa-taisei opened #72 "やり直すボタンの色変更"
やり直すボタンの色を赤色などに変更する